html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 0px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.collapse.navbar-collapse {
  margin-top: 15px;
}
.collapse.navbar-collapse ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.collapse.navbar-collapse ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.collapse.navbar-collapse ul li {
  position: relative;
  float: left;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}
.collapse.navbar-collapse ul li.current-menu-item {
  background: #ddd;
}
.collapse.navbar-collapse ul li:hover {
  background: #f6f6f6;
}
.collapse.navbar-collapse ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}
.collapse.navbar-collapse ul ul li {
  float: none;
  width: 200px;
}
.collapse.navbar-collapse ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
.collapse.navbar-collapse ul ul ul {
  top: 0;
  left: 100%;
}
.collapse.navbar-collapse ul li:hover > ul {
  display: block;
}
